<!DOCTYPE html>
<html lang="en_US">
    <head>
        {{pageMetaService.render|raw}}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
		<div class="site-wrapper">
			{{ include('template-parts/header.html.twig') }}
			<div class="site-content">
				{% block body %}{% endblock %}
			</div>
			{{ include('template-parts/footer.html.twig') }}
		</div>
    </body>
</html>
