{% extends 'base.html.twig' %}

{% block title %}Explore WordPress Themes{% endblock %}

{% block body %}
<div class="container">
    <!-- Hero Section -->
    <div class="row align-items-center border shadow-lg overflow-hidden my-5">
        <div class="col-lg-7 p-3 p-lg-5">
            <h1 class="display-4 fw-bold lh-1">Explore the Landscape of WordPress Themes</h1>
            <p class="lead">
                Delve into the Themes Module to uncover trends and analyze performance metrics of various themes in the WordPress repository. We are currently tracking <b>{{stats.totalThemes}} themes</b> with <b>{{total_theme_stat_snapshots}} snapshots</b>.
            </p>
			<a href="{{path('app_themes_list')}}" class="btn btn-primary mt-3">List Themes</a>

        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="img-fluid" src="/img/theme_library_hero.png" alt="An illustration of a theme library">
        </div>
    </div>

    <!-- What is a WordPress Theme? Section -->
    <section>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 my-2 my-lg-5">
        		<h2 class="mb-3">Understanding WordPress Themes</h2>
            	<p>A WordPress theme is the essence of your website's visual identity. It crafts the layout, design, colors, and typography. With themes, WordPress offers versatility, allowing your site to be unique and tailored to your content.</p>
			</div>
		</div>
    </section>

    <!-- 3-column Quick Facts Section -->
	<section class="mb-4 mb-lg-5">
		<div class="row">
		    <div class="col-lg-6 offset-lg-3">
        		<h2 class="mb-3">The Theme Ecosystem in Numbers</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card text-center border shadow-sm">
					<div class="card-body">
						<h3 class="h2 card-title">{{stats.downloaded|number_format}}</h3>
						<h4 class="card-title">Downloads</h4>
						<p class="card-text">tracked across all {{stats.totalThemes}} themes</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card text-center border shadow-sm">
					<div class="card-body">
						<h3 class="h2 card-title">{{stats.activeInstalls|number_format}}</h3>
						<h4 class="card-title">Active Installs</h4>
						<p class="card-text">estimated across all {{stats.totalThemes}} themes</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card text-center border bg-white shadow-sm">
					<div class="card-body">
						<h3 class="h2 card-title">{{ratings.averageRating|number_format}} %</h3>
						<h4 class="card-title">Average Rating</h4>
						<p class="card-text">calculated across {{ratings.totalThemes}} themes with {{ratings.totalRatings}} reviews</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card text-center border bg-white shadow-sm">
					<div class="card-body">
						<h3 class="h2 card-title">{{stats.totalAuthors|number_format}}</h3>
						<h4 class="card-title">Total Authors</h4>
						<p class="card-text">that published themes</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card text-center border bg-white shadow-sm">
					<div class="card-body">
						<h3 class="h2 card-title">{{stats.averageInstalls|number_format}}</h3>
						<h4 class="card-title">Average Installs</h4>
						<p class="card-text">per theme</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
