{% extends 'base.html.twig' %}
{% import 'themes/_theme-macros.html.twig' as themeMacros %}

{% block title %}{{ theme.name }} by {{theme.author.displayName}} - WordPress Theme{% endblock %}

{% block body %}
<div class="container my-5">
	<div class="row border-bottom mb-3 pb-3">
		<div class="col-md-6">
            <h1 class="my-0">{{ theme.name }}</h1>
		</div>
		<div class="col-md-6 d-flex align-items-end justify-content-end">
			<span class="text-muted h4 my-0">by {{theme.author.displayName}} </span>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-md-6 d-flex align-items-start">
			{% if theme.parent %}
				<span class="text-muted h6 my-0">a child theme of <a href="{{path( 'app_themes_single', {slug: theme.parent.slug})}}">{{theme.parent.name}}</a></span>
			{% endif %}
		</div>
		<div class="col-md-6 d-flex align-items-start justify-content-end">
			<div class="btn-group">
				{% if theme.themeUrl %}
					<a href="{{ theme.themeUrl }}" class="btn btn-outline-primary btn-sm" target="_blank">Homepage</a>
				{% endif %}
				<a href="{{ theme.homepage }}" class="btn btn-outline-primary btn-sm" target="_blank">WP.org</a>
				<a href="{{ theme.previewUrl }}" class="btn btn-outline-primary btn-sm" target="_blank">Preview</a>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-6">

            <p class="mx-2">{{ theme.description | raw}}</p>

			{% if theme.tags %}
			<hr>
			<h2 class="h6 mx-2">Tags</h2>
				{% for tag in theme.tags %}
					<a href="{{ path('app_themes_tag', {themeTagSlug: tag.slug})}}" class="btn btn-primary btn-sm m-1">{{ tag.name }}</a>
				{% endfor %}
			{% endif %}
			<ul class="list-group my-4">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-muted"><strong>Version</strong></span>
					<span class="badge bg-secondary rounded-pill">{{ theme.version }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-muted"><strong>Last updated</strong></span>
					<span class="badge bg-secondary rounded-pill">{{ theme.lastUpdated|date("m/d/Y") }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-muted"><strong>Active Installations</strong></span>
					<span class="badge bg-secondary rounded-pill">{{ theme.activeInstalls|number_format }}+</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-muted"><strong>Total Downloads</strong></span>
					<span class="badge bg-secondary rounded-pill">{{ theme.downloaded|number_format }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-muted"><strong>Usage Score</strong></span>
					<span class="badge bg-secondary rounded-pill">{{ theme.usageScore|number_format }}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-muted"><strong>Last seen</strong></span>
					<span class="badge bg-secondary rounded-pill">{{ theme.updatedAt|date("m/d/Y") }}</span>
				</li>
			</ul>
		</div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
            <img src="{{ theme.screenshotUrl }}" alt="{{ theme.name }} Screenshot" class="img-fluid mb-4 shadow-sm">
			{{ themeMacros.theme_author(theme.author) }}
        </div>
    </div>
</div>
{% endblock %}
