{% extends 'base.html.twig' %}
{% import 'themes/_theme-macros.html.twig' as themeMacros %}

{% block title %}{{ theme.name }} by {{theme.author.displayName}} - WordPress Theme{% endblock %}

{% block body %}
<div class="container my-5">
	<div class="row">
		<div class="col-md-8 mb-4">
            <h1>{{ theme.name }}</h1>
			<span class="text-muted h4">by {{theme.author.displayName}} </span>
		</div>
		<div class="col-md-4 mb-4 d-flex  align-items-center justify-content-end">
			<div class="btn-group">
				<a href="{{ theme.homepage }}" class="btn btn-outline-primary" target="_blank">Homepage</a>
				<a href="{{ theme.homepage }}" class="btn btn-outline-primary" target="_blank">WP.org</a>
				<a href="{{ theme.previewUrl }}" class="btn btn-outline-primary" target="_blank">Preview</a>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-6">
            <p>{{ theme.description | raw}}</p>
            <ul class="list-group list-group-flush mb-4">
                {% if theme.previewUrl %}
                    <li class="list-group-item">
                        <strong>Theme Preview:</strong> <a href="{{ theme.previewUrl }}" target="_blank">View</a>
                    </li>
                {% endif %}
                {% if theme.template %}
                    <li class="list-group-item">
                        <strong>Parent Theme:</strong> {{ theme.template }}
                    </li>
                {% endif %}
                {% if theme.tags %}
                    <li class="list-group-item">
                        {% for tag in theme.tags %}
                            <a href="/tags/{{ tag.slug }}" class="badge bg-secondary text-decoration-none">{{ tag.name }}</a>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
		</div>
        <div class="col-md-6">
            <img src="{{ theme.screenshotUrl }}" alt="{{ theme.name }} Screenshot" class="img-fluid mb-4 shadow-sm">
			{{ themeMacros.theme_author(theme.author) }}
        </div>
    </div>
</div>
{% endblock %}
