{% extends 'base.html.twig' %}
{% import 'themes/_theme-macros.html.twig' as themeMacros %}

{% block title %}Tags - WordPress Themes{% endblock %}

{% block body %}
<div class="container my-5">
	<div class="row border-bottom mb-3 pb-3">
		<div class="col-md-6">
            <h1 class="my-0">Tags</h1>
		</div>
		<div class="col-md-6 d-flex align-items-end justify-content-end">

		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6 d-flex align-items-start">
			of all WordPress themes in the official repository.
		</div>
		<div class="col-md-6 d-flex align-items-start justify-content-end">
			<div class="btn-group">
				<a href="{{ path('app_themes_list') }}" class="btn btn-outline-primary btn-sm">List</a>
				<a href="{{ path('app_themes') }}" class="btn btn-outline-primary btn-sm">Back</a>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-12 mx-n1">
			{% for tag in tags %}
				<a href="{{ path('app_themes_tag', {themeTagSlug: tag.slug})}}" class="btn btn-primary btn-sm m-1">{{ tag.name|raw }} <sup>({{tag.themeCount}})</sup></a>
			{% endfor %}
        </div>
    </div>
</div>
{% endblock %}
